@use '../base/base' as *;

.hero {
  background-image: url(../../img/mobile/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0 40rem 0;

  position: relative;

  @media only screen and (min-width: $bp-tablet) {
    background-image: url(../../img/desktop/image-header.jpg);
    padding: 5rem 0 50rem 0;
  }

  &__heading {
    text-align: center;
    color: $white;
    letter-spacing: 3px;
  }

  &__arrow {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);

    @media only screen and (min-width: $bp-tablet) {
      top: 45%;
      transform: translate(-45%);
    }
  }
}
