@use '../base/base' as *;

.service {
  @media only screen and (min-width: $bp-tablet-2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__card {
    text-align: center;
    position: relative;
  }

  &__heading,
  &__content {
    color: $dark-desaturated-cyan;
  }

  &__img {
    width: 100%;
    height: auto;

    &--1 {
      display: block;

      @media only screen and (min-width: 43.75em) {
        display: none;
      }
    }

    &--2 {
      display: none;
      @media only screen and (min-width: 43.75em) {
        display: block;
      }
    }
  }

  &__content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    line-height: 1.6;
    padding: 0 2rem;

    @media only screen and (min-width: $bp-tablet-2) {
      top: 55%;
      max-width: 50rem;
    }
    @media only screen and (min-width: $bp-desktop) {
      top: 60%;
    }
  }
}
