@use '../base/base' as *;

.btn {
  outline: none;
  border: none;
  background: none;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  cursor: pointer;

  position: relative;
}

.btn::after {
  content: '';
  position: absolute;
  width: 112%;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  height: 6px;
  border-radius: 3rem;
}

.btn--brand::after {
  background: rgba($yellow, 0.3);
  z-index: -1;
}

.btn--brand:hover::after {
  background: $yellow;
  transition: ease-in 0.3s;
}

.btn--audience::after {
  background: rgba($soft-red, 0.3);
  z-index: -1;
}

.btn--audience:hover::after {
  background: $soft-red;
  transition: ease-in 0.3s;
}
