// Colors

// Primary

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); // graphic design text
$dark-blue: hsl(198, 62%, 26%); // photography text
$dark-moderate-cyan: hsl(168, 34%, 41%); // footer

// Neutral

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-greyish-blue: hsl(213, 9%, 39%);
$dark-greyish-blue: hsl(232, 10%, 55%);
$greyish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Responsive breakpoints

$bp-large-desktop: 68.75em; // 1100px
$bp-desktop: 56.25em; // 900px
$bp-tablet: 31.25em; // 500px

//Resets & relative font sizing

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;

  @media only screen and (min-width: $bp-tablet) {
    font-size: 56.25%;
  }

  @media only screen and (min-width: $bp-desktop) {
    font-size: 62.5%;
  }
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: $very-dark-greyish-blue;
  background-color: $white;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
  color: $very-dark-desaturated-blue;
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.2rem;
}

p + p {
  margin-top: 1rem;
}
